In [1]:
import pandas as pd

path1 = './data/chipotle.tsv'

chipo = pd.read_csv(path1, sep='\t')

In [6]:
# 查看前10行内容
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [5]:
# 数据表里有多少个列

chipo.shape[1]

5

In [8]:
# 打印所有的列名称
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
# 展示索引
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [16]:
# 被下单数最多商品是什么

c = chipo[['item_name', 'quantity']].groupby(['item_name'], as_index=False).agg({'quantity': sum})
c.sort_values(['quantity'], ascending=False, inplace=True)
c.head()

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [17]:
# 在item_name这一列有多少种商品被下单

chipo['item_name'].nunique()

50

In [20]:
# 在choice_description下商品被下单的次数

chipo['choice_description'].value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [22]:
total_item_orders = chipo['quantity'].sum()
total_item_orders

4972

In [24]:
dollarizer = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

In [25]:
# 计算收入
chipo['sub_total'] = round(chipo['item_price'] * chipo['quantity'], 2)
chipo['sub_total'].sum()

39237.02

In [27]:
# 订单数
chipo['order_id'].nunique()

1834

In [29]:
# 每一单对应的单价是多少
chipo[['order_id', 'sub_total']].groupby(by=['order_id']).agg({'sub_total': 'sum'})['sub_total'].mean()

21.394231188658654