In [35]:
import pandas as pd
import numpy as np

In [36]:
# 1.将下面字典创建为dataFrame
data = {"grammer": ["Python", "C","Java","GO",np.nan,"SQL", "PHP", "Python"], "score": [1,2,np.nan,4,5,6,7,10]}

In [37]:
df = pd.DataFrame(data)

In [38]:
df

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

In [39]:
# 2.提取含有字符串含有python的字符

df[df["grammer"] == "Python"]

  grammer  score
0  Python    1.0
7  Python   10.0

In [40]:
# 3.输出所有列名

print(df.columns)

Index(['grammer', 'score'], dtype='object')

In [41]:
# 4.修改第二列为popularity
df.rename(columns={"score": "popularity"}, inplace=True)
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         NaN
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [42]:
# 5.统计grammer列中每种类型出现的次数

df['grammer'].value_counts()

Python    2
Java      1
GO        1
PHP       1
SQL       1
C         1
Name: grammer, dtype: int64

In [43]:
#  6.使用上下平均值填充
df['popularity'] = df['popularity'].fillna(df['popularity'].interpolate())
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [44]:
# 7.提取popularity大于3的行
df[df['popularity'] > 3]

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [45]:
# 8.按照grammer列进行去除重复值
df.drop_duplicates('grammer')

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         3.0
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0

In [46]:
# 9.计算popularity平均值
df['popularity'].mean()

4.75

In [47]:
# 10.将grammer列转化成list
df['grammer'].to_list()

['Python', 'C', 'Java', 'GO', nan, 'SQL', 'PHP', 'Python']

In [48]:
# 11.将DataFrame保存为excel
df.to_excel('./data/test.xlsx')

In [49]:
# 12.查询数据行列数
df.shape

(8, 2)

In [50]:
# 13.提取popularity列值大于3小于7的行
df[(df['popularity'] > 3) & (df['popularity'] < 7)]

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     SQL         6.0

In [52]:
# 14.交换两列位置
columns = df.columns[[1, 0]]
df = df[columns]
df

   popularity grammer
0         1.0  Python
1         2.0       C
2         3.0    Java
3         4.0      GO
4         5.0     NaN
5         6.0     SQL
6         7.0     PHP
7        10.0  Python